.app {
    width: 100%;
    min-height: 100vh;
    background: var(--color-blue--very-dark-main);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-blue--soft);
    font-family: Outfit, serif;
    font-weight: var(--font-weight--light);
    font-size: 0.9rem;
}

* a {
    text-decoration: none;
}
