:root {
    --font--outfit: Outfit;

    --font-weight--light: 300;
    --font-weight--regular: 400;
    --font-weight--bold: 600;

    --font-size: 18px;
    font-size: var(--font-size);
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit.ttf') format('truetype');
    font-style: normal;
}
